*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'manrope', sans-serif;
    background-color: #E5E9F2;
}

img{
    width: 200px;
}

#box {
    background-color:#15D9E9 ;
    text-align: center;
    margin: 0px 30px;
    height: 599px;
    border-radius: 90px;
}

#box h1{
    padding-top: 40px;
    font-family: 'Grandstander', cursive;

}

.box-input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content:center ;
    flex-direction: column;
}

input{
    margin-top: 30px;
    padding: 12px 50px;
    border: none;
    background: none;
    border-bottom: 1px solid black;
    outline: none;
}
.input-letter{
    margin-top: 30px;
    padding: 12px 50px;
    border: none;
    background: white;
    border-bottom: 1px solid black;
    outline: none;
}
button{
    margin-top: 30px;
    padding: 12px 110px;
    margin-bottom: 20px;
    background: #47525E;
    color: white;
    border:none;
    border-radius: 9px;
    font-weight: bold;
}

.cadastro{
    border: 1px solid #47525E ;
    background: #47525E;
    padding: 9px 40px;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    border:none;
    border-radius: 9px;
    font-weight: bold;
}

button:hover{
    background: #2679c7;
    transition: all 0.2s;
}
.cadastro:hover{
    background: #2679c7;
    transition: all 0.2s;
}

.senha {
    text-decoration: none;
    color:  #47525E;
}
